In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('tests/test-data/dump1/mileage.csv')

In [5]:
df

,PartitionKey,RowKey,Timestamp,mileage,mileage@type
0,mileage,229598673:18368212472.161,2021-09-16T10:18:48.169Z,124190,Edm.Int64
1,mileage,229598673:18369050830.456375,2021-09-06T17:26:09.665Z,124000,Edm.Double
2,mileage,229598673:18369119960.737133,2021-09-05T22:13:59.455Z,123681,Edm.Double
3,mileage,229598673:18369120254.508904,2021-09-05T22:09:05.744Z,123033,Edm.Double

In [10]:
for index, row in df.iterrows():
    d = pd.Series.to_dict(row)
    print(d)

{'PartitionKey': 'mileage', 'RowKey': '229598673:18368212472.161', 'Timestamp': '2021-09-16T10:18:48.169Z', 'mileage': 124190, 'mileage@type': 'Edm.Int64'}
{'PartitionKey': 'mileage', 'RowKey': '229598673:18369050830.456375', 'Timestamp': '2021-09-06T17:26:09.665Z', 'mileage': 124000, 'mileage@type': 'Edm.Double'}
{'PartitionKey': 'mileage', 'RowKey': '229598673:18369119960.737133', 'Timestamp': '2021-09-05T22:13:59.455Z', 'mileage': 123681, 'mileage@type': 'Edm.Double'}
{'PartitionKey': 'mileage', 'RowKey': '229598673:18369120254.508904', 'Timestamp': '2021-09-05T22:09:05.744Z', 'mileage': 123033, 'mileage@type': 'Edm.Double'}