In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../tests/test-data/dump1/mileage.csv')

In [3]:
df

,PartitionKey,RowKey,Timestamp,mileage,mileage@type
0,mileage,229598672:19999999999.000000,2021-09-06T22:09:05.744Z,100,Edm.Double
1,mileage,229598672:20000000000.000000,2021-09-05T22:09:05.744Z,100,Edm.Double
2,mileage,229598673:18368212472.161,2021-09-16T10:18:48.169Z,124190,Edm.Int64
3,mileage,229598673:18369050830.456375,2021-09-06T17:26:09.665Z,124000,Edm.Double
4,mileage,229598673:18369119960.737133,2021-09-05T22:13:59.455Z,123681,Edm.Double
5,mileage,229598673:18369120254.508904,2021-09-05T22:09:05.744Z,123033,Edm.Double
6,mileage,229598674:19999999999.000000,2021-09-06T22:09:05.744Z,100,Edm.Double
7,mileage,229598674:20000000000.000000,2021-09-05T22:09:05.744Z,100,Edm.Double

In [4]:
for index, row in df.iterrows():
    d = pd.Series.to_dict(row)
    print(d)

{'PartitionKey': 'mileage', 'RowKey': '229598672:19999999999.000000', 'Timestamp': '2021-09-06T22:09:05.744Z', 'mileage': 100, 'mileage@type': 'Edm.Double'}
{'PartitionKey': 'mileage', 'RowKey': '229598672:20000000000.000000', 'Timestamp': '2021-09-05T22:09:05.744Z', 'mileage': 100, 'mileage@type': 'Edm.Double'}
{'PartitionKey': 'mileage', 'RowKey': '229598673:18368212472.161', 'Timestamp': '2021-09-16T10:18:48.169Z', 'mileage': 124190, 'mileage@type': 'Edm.Int64'}
{'PartitionKey': 'mileage', 'RowKey': '229598673:18369050830.456375', 'Timestamp': '2021-09-06T17:26:09.665Z', 'mileage': 124000, 'mileage@type': 'Edm.Double'}
{'PartitionKey': 'mileage', 'RowKey': '229598673:18369119960.737133', 'Timestamp': '2021-09-05T22:13:59.455Z', 'mileage': 123681, 'mileage@type': 'Edm.Double'}
{'PartitionKey': 'mileage', 'RowKey': '229598673:18369120254.508904', 'Timestamp': '2021-09-05T22:09:05.744Z', 'mileage': 123033, 'mileage@type': 'Edm.Double'}
{'PartitionKey': 'mileage', 'RowKey': '229598674:19999999999.000000', 'Timestamp': '2021-09-06T22:09:05.744Z', 'mileage': 100, 'mileage@type': 'Edm.Double'}
{'PartitionKey': 'mileage', 'RowKey': '229598674:20000000000.000000', 'Timestamp': '2021-09-05T22:09:05.744Z', 'mileage': 100, 'mileage@type': 'Edm.Double'}

In [5]:
df.size

40

In [6]:
df_spendings = pd.read_csv('../tests/test-data/dump1/spendings.csv')

In [7]:
df_spendings

,PartitionKey,RowKey,Timestamp,amount,amount@type,ccy,ccy@type,description,description@type,volume,volume@type
0,car-goods,229598673:18369120018.371582,2021-09-05T22:13:01.812Z,148.5,Edm.Double,BYN,Edm.String,страховка,Edm.String,NaN,NaN
1,car-goods,229598673:18369120129.546936,2021-09-05T22:11:10.633Z,6.0,Edm.Double,BYN,Edm.String,лекарства в аптечку,Edm.String,NaN,NaN
2,car-goods,229598673:18369120146.30981,2021-09-05T22:10:53.863Z,18.0,Edm.Double,BYN,Edm.String,"(аптечка, шторка от солнца)",Edm.String,NaN,NaN
3,car-goods,229598673:18369120168.946255,2021-09-05T22:10:31.227Z,44.0,Edm.Double,BYN,Edm.String,"(армтек: лопата, знак, тужурка)",Edm.String,NaN,NaN
4,car-goods,229598673:18369120189.196743,2021-09-05T22:10:10.971Z,33.0,Edm.Double,BYN,Edm.String,огнетушитель,Edm.String,NaN,NaN
5,gas,229598673:18369119944.36572,2021-09-05T22:14:15.827Z,2804.0,Edm.Double,RUB,Edm.String,NaN,NaN,45.000000,Edm.Double
6,gas,229598673:18369119979.670258,2021-09-05T22:13:40.518Z,2830.0,Edm.Double,RUB,Edm.String,NaN,NaN,42.000000,Edm.Double
7,gas,229598673:18369120090.380436,2021-09-05T22:11:49.796Z,2803.0,Edm.Double,RUB,Edm.String,NaN,NaN,46.893651,Edm.Double
8,gas,229598673:18369120213.81877,2021-09-05T22:09:46.350Z,1856.0,Edm.Double,RUB,Edm.String,NaN,NaN,31.050523,Edm.Double
9,repair,229598673:18369120037.996815,2021-09-05T22:12:42.188Z,33.5,Edm.Double,BYN,Edm.String,ежегодное ТО,Edm.String,NaN,NaN
10,repair,229598673:18369120108.0968,2021-09-05T22:11:32.088Z,1409.0,Edm.Double,BYN,Edm.String,большое ТО,Edm.String,NaN,NaN

In [8]:
def convert_to_eur(amount, ccy):
    rate = 1.0
    if ccy == 'BYN':
        rate = 2.93
    elif ccy == 'RUB':
        rate = 85.30
    elif ccy == 'USD':
        rate = 1.17
    return amount / rate

In [9]:
df_spendings['amount_eur'] = pd.Series(
    convert_to_eur(row.amount, row.ccy) for row in df_spendings.itertuples()
)

In [10]:
df_spendings

,PartitionKey,RowKey,Timestamp,amount,amount@type,ccy,ccy@type,description,description@type,volume,volume@type,amount_eur
0,car-goods,229598673:18369120018.371582,2021-09-05T22:13:01.812Z,148.5,Edm.Double,BYN,Edm.String,страховка,Edm.String,NaN,NaN,50.682594
1,car-goods,229598673:18369120129.546936,2021-09-05T22:11:10.633Z,6.0,Edm.Double,BYN,Edm.String,лекарства в аптечку,Edm.String,NaN,NaN,2.047782
2,car-goods,229598673:18369120146.30981,2021-09-05T22:10:53.863Z,18.0,Edm.Double,BYN,Edm.String,"(аптечка, шторка от солнца)",Edm.String,NaN,NaN,6.143345
3,car-goods,229598673:18369120168.946255,2021-09-05T22:10:31.227Z,44.0,Edm.Double,BYN,Edm.String,"(армтек: лопата, знак, тужурка)",Edm.String,NaN,NaN,15.017065
4,car-goods,229598673:18369120189.196743,2021-09-05T22:10:10.971Z,33.0,Edm.Double,BYN,Edm.String,огнетушитель,Edm.String,NaN,NaN,11.262799
5,gas,229598673:18369119944.36572,2021-09-05T22:14:15.827Z,2804.0,Edm.Double,RUB,Edm.String,NaN,NaN,45.000000,Edm.Double,32.872216
6,gas,229598673:18369119979.670258,2021-09-05T22:13:40.518Z,2830.0,Edm.Double,RUB,Edm.String,NaN,NaN,42.000000,Edm.Double,33.177022
7,gas,229598673:18369120090.380436,2021-09-05T22:11:49.796Z,2803.0,Edm.Double,RUB,Edm.String,NaN,NaN,46.893651,Edm.Double,32.860492
8,gas,229598673:18369120213.81877,2021-09-05T22:09:46.350Z,1856.0,Edm.Double,RUB,Edm.String,NaN,NaN,31.050523,Edm.Double,21.758499
9,repair,229598673:18369120037.996815,2021-09-05T22:12:42.188Z,33.5,Edm.Double,BYN,Edm.String,ежегодное ТО,Edm.String,NaN,NaN,11.433447
10,repair,229598673:18369120108.0968,2021-09-05T22:11:32.088Z,1409.0,Edm.Double,BYN,Edm.String,большое ТО,Edm.String,NaN,NaN,480.887372

In [11]:
df_spendings['amount_eur'].sum()

698.1426325076321